/* Couleurs
#e6e2d9 : beige clair
#bcbaae : beige foncé
#f8f8d6 : jaune pâle
*/

/* Template général */
body {
    background-color: #e6e2d9;
}

a {
    color: #f6f2d5;
}

a:hover {
    color: #eee1ac;
}

#entete{
    height : 15vh;
    overflow: hidden;
    display: flex;
}

#flag{
    position: relative;
    top: -220px;
    width : 100%;
    height : 100vh;
}

#encadre{
    display : flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 2vh;
}

#encadre #menu{
    width : 20%;
    background-color: #bcbaae;
    color: #f7f7ea;
}

#encadre #menu ul {
    font-size: 1.5em;
    list-style-type: none;
    margin-left: -20px;
    text-transform: uppercase;
}

#cadre {  
    width : 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cadre .couverture {
    width: 12%;
    margin: 0 0 0 1%;
}

#cadre img{
    width : 100%;
}

#admin {
    position: fixed;
    height: 10vh;
    background-color: #f6f2d5;
    z-index: 100;
    bottom: 0;
    width: calc(20% - 24px);
    padding: 10px 0 0 20px;
}

#admin a {
    color: black;
    font-size: 1.5em;
}

/* Template Home */

/* Template Membre */

/* Template Revue */
#revue {
    display: flex;
    width: 80%;
}

#revue h2 {
    text-align: center;
    color: #41403d;
}

#categories {
    width: 20%;
    border: 1px solid red;
}

#infos {
    width: 60%;
    border: 1px solid green;
}

#auteurs {
    width: 20%;
    border: 1px solid blue;
}

.illustration {
    width: 50%;
}

.illustration img {
    width: 100%;
}