/* Couleurs
#e6e2d9 : beige clair
#bcbaae : beige foncé
#f8f8d6 : jaune pâle
*/

/* Template général */
body {
    background-color: #e6e2d9;
}

a {
    color: #f6f2d5;
}

a:hover {
    color: #eee1ac;
}

.sm-row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.sm-col {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.sm-col-1 { width: 8.33%; }
.sm-col-2 { width: 16.66%; }
.sm-col-3 { width: 25%; }
.sm-col-4 { width: 33.33%; }
.sm-col-5 { width: 41.66%; }
.sm-col-6 { width: 50%; }
.sm-col-7 { width: 58.33%; }
.sm-col-8 { width: 66.66%; }
.sm-col-9 { width: 75%; }
.sm-col-10 { width: 83.33%; }
.sm-col-11 { width: 91.66%; }
.sm-col-12 { width: 100%; }


/* Header */
#entete{
    height : 15vh;
    overflow: hidden;
    display: flex;
}

#flag{
    position: relative;
    top: -220px;
    width : 100%;
    height : 100vh;
}

/* Conteneur page */
#encadre{
    align-items: stretch;
    margin-top: 2vh;
    margin-bottom: 12vh;
}

/* Menu */
#encadre #menu{
    width : 100%;
    flex-shrink: 0;
    background-color: #bcbaae;
    color: #f7f7ea;
}

#encadre #menu ul {
    font-size: 1.5em;
    list-style-type: none;
    margin-left: -20px;
    text-transform: uppercase;
}

#admin {
    position: fixed;
    height: 10vh;
    background-color: #f6f2d5;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 0 20px;
}

#admin a {
    color: black;
    font-size: 1.5em;
}

/* Template Home */
.form { 
    border: 3px solid #bcbaae; 
    width: calc(100% - 6px);
    margin-top: 1vh;
}

.form h2 { 
    margin: 0; 
    padding: 1em 0;
    color: #74726b;
    text-align: center;
    border-bottom: 1px solid #bcbaae; 
}

.form form { 
    width: calc(100% - 3em);
    padding: 1.5em;
    margin: auto; 
    text-align: center;
}

.form form div { 
    width: calc(100% - 3em);
    margin: 0.5em auto; 
    justify-content: center;
}

.form form div label { 
    display: block;
    margin: 0;
    text-align: right;
    padding-right: 1em;
    width: 30%;
}

.form form div input { 
    display: block;
    margin: 0;
    width: 60%;
}

/* Template Membre */

/* Templates Revues */
#cadre {  
    width : 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cadre .couverture {
    width: 12%;
    margin: 0 0 0 1%;
}

#cadre img{
    width : 100%;
}

/* Template Revue/Article */
#revue {
    display: flex;
    width: 80%;
}

#revue h2 {
    text-align: center;
    color: #41403d;
}

#categories {
    width: 20%;
    /* border: 1px solid red; */
}

#infos {
    width: 60%;
    /* border: 1px solid green; */
}

#auteurs {
    width: 20%;
    /* border: 1px solid blue; */
}

.illustration {
    width: 50%;
}

.illustration img {
    width: 100%;
}

/* ------- MEDIUM ----------*/
@media screen and (min-width : 768px) {

    .md-row {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    
    .md-col {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    .form form { 
        width: 60%;
    }

}


/* ------- LARGE ----------*/
@media screen and (min-width : 1024px) {

    .lg-row {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    
    .lg-col {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    .lg-col-1 { width: 8.33%; }
    .lg-col-2 { width: 16.66%; }
    .lg-col-3 { width: 25%; }
    .lg-col-4 { width: 33.33%; }
    .lg-col-5 { width: 41.66%; }
    .lg-col-6 { width: 50%; }
    .lg-col-7 { width: 58.33%; }
    .lg-col-8 { width: 66.66%; }
    .lg-col-9 { width: 75%; }
    .lg-col-10 { width: 83.33%; }
    .lg-col-11 { width: 91.66%; }
    .lg-col-12 { width: 100%; }

    /* Menu */
    #encadre #menu{
        width : 20%;
    }

    #admin {
        position: fixed;
        height: 10vh;
        background-color: #f6f2d5;
        z-index: 100;
        bottom: 0;
        width: calc(20% - 24px);
        padding: 10px 0 0 20px;
    }

    /* Template Home */
    .form { 
        margin-left: 1em; 
        margin-top: 0;
    }
    
    .form form div label { 
        width: 40%;
    }
    
    .form form div input { 
        width: 60%;
    }

}

